<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>

    <style>
        <h1><marquee behavior="" direction=""></marquee></h1>
    </style>
    
    
</head>
<body>

<h1>Welcome to JijiCart!!</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequatur dicta dolore earum ipsam laborum maxime nam, nostrum nulla omnis quisquam reiciendis voluptas? Delectus doloribus illo nam recusandae ut voluptatum!</span><span>A culpa eligendi id laboriosam magnam minima nihil praesentium quas sit, temporibus ullam velit voluptatem? Accusamus aut est excepturi fuga hic, illum laudantium libero minima minus molestias sed ut. Modi.</span><span>Adipisci alias aspernatur commodi debitis eos necessitatibus pariatur perferendis voluptate? Accusantium consectetur corporis ducimus earum eius eos, inventore maxime minus perferendis possimus praesentium, recusandae reiciendis sed soluta tempore vero voluptate!</span></p>



</body>
</html>