<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services page</title>

{% load static %}

<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<script src="{% static 'bootstap/js/bootstrap.min.js' %}"></script>


</head>
<body>
  
    <h1 class="text-center text-danger">Our Services</h1>

     <a href="{%url 'index' %}"> Visit Home</a>

     <a href="{%url 'gallery' %}"> Visit Products</a>



<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore corporis porro asperiores quibusdam, aliquid consectetur! Nihil necessitatibus maxime hic et, iusto earum? Dolor quasi molestiae suscipit expedita et accusamus doloremque?
Neque facere necessitatibus possimus laudantium consequuntur doloribus animi, eligendi cum beatae id ullam incidunt fuga error. Facere consequatur beatae quisquam provident culpa, quia harum natus voluptatibus voluptatum, ducimus, perferendis nobis?
Iusto odio consequuntur eum fugit! Libero officiis repellendus asperiores voluptate earum eligendi? Nemo, labore voluptatem! Error ad odio accusantium dolores, distinctio mollitia, quis laudantium, quia modi explicabo in magni id!</p>

<button class="btn btn-outline-primary">Get started</button>


</body>
</html>